html {
    /*background-color: #e4e4e4;*/
    background:url(https://i.pinimg.com/originals/b6/73/2d/b6732d69d460c7cbcd24517cfb427e45.jpg) ;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
body{
    box-shadow: 0px 0px 20px 5px #424242;
    width: 550px;
    background: #fcf9f9;
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 50px;
    border-radius: 4px;
    font-family: 'Times New Roman', Times, serif;
    color:white
    
}
button {
    margin-top: 10px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-transform: uppercase;
    outline: 0;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.568);

    border-radius: 4px;
    width: 100%;
    border: 0;
    padding: 30px;
    color: #FFFFFF;
    font-size: 25px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
    background: url(https://i.pinimg.com/originals/4d/de/ff/4ddeffbd7b1d5a914195d399e408f002.jpg);
}
h1{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 60px;
    color: #2469ff;
}
