*{
    margin: auto;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: #191919;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body{
    box-shadow: 0px 0px 20px 5px #424242;
    width: 450px;
    background: #222222;
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 50px;
    border-radius: 4px;
    font-family: 'Times New Roman', Times, serif;
    color:white
    
}
.n1{
    width: 10%;
    background: #3c2424;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    margin-left: 30px;
    border: 1px solid #c51f1f;
    font-family: 'Times New Roman', Times, serif;
    font-size: 18;
    color: white;

}
.n2{
    width: 10%;
    background: #3c2424;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    margin-left: 0px;
    border: 1px solid #c51f1f;
    font-family: 'Times New Roman', Times, serif;
    font-size: 18;
    color: white;

}
.n3{
    width: 10%;
    background: #3c2424;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    margin-left: 54px;
    border: 1px solid #c51f1f;
    font-family: 'Times New Roman', Times, serif;
    font-size: 18;
    color: white;
}

.b1{
    margin-bottom: 15px;
    margin-left: 60px;
    background: #b70e21;
    width: 50%;
    border-radius: 10px;
    padding: 12px;
    color: white;
    font-size: 16px;
}

.b2{
    margin-bottom: 15px;
    margin-left: 40px;
    background: #b70e21;
    width: 50%;
    border-radius: 10px;
    padding: 12px;
    color: white;
    font-size: 16px;
}

p{
    text-align: center;
}
h1{
    font-size: 10px;
    text-align: center;
    color: white;
    margin-top: 30px;
    text-shadow: 2px 2px 2px black;
    
}
h2{
    margin: 10px;
}
h3{
    margin: 10px;
}