*{
    margin: auto;
    padding: 0;
    box-sizing: border-box;
}

html {
    background: url(https://fondosmil.com/fondo/457.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}






form{
    box-shadow: 7px 13px 37px #000000;
    width: 500px;
    background: #24303c;
    padding: 30px;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    border-radius: 4px;
    font-family: 'Times New Roman', Times, serif;
    color:white
    
}

input{
    width: 100%;
    background: #24303c;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid #1f53c5;
    font-family: 'Times New Roman', Times, serif;
    font-size: 18;
    color: white;
}
button{
    margin-bottom: 10px;
    background: #1f53c5;
    width: 100%;
    border-radius: none;
    padding: 12px;
    color: white;
    margin: 16px 0px;
    font-size: 16px;
}
p{
    text-align: center;
}
h1{
    font-size: 60px;
    text-align: center;
    color: white;
    margin-top: 80px;
    text-shadow: 2px 2px 2px black;
    

}