*{box-sizing:border-box;}

html {
    background: url(https://i.pinimg.com/originals/1d/9c/35/1d9c35a7985b91c41f9f73eaa1415247.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body{
    font-family: 'Times New Roman', Times, serif;
}


form{
	width:500px;
	padding:16px;
	border-radius:10px;
	margin:auto;
    background-color:rgba(255, 255, 255, 0.431);
    
}

h1{
    font-size: 50px;
    color: white;
    text-shadow: black 1.5px 1.5px 1.5px; 
}


label{
    margin: 8px;
    font-size: 20px;
    display: block;

}

input[type=text],[type=email]{
    margin-bottom: 20px;
    width: 100%;
    padding: 1.3%;

}

input[type=number]{
    margin-left: 30px;
    width: 15%;
    padding: 10px;
}

input[type=radio]{
    margin-left: 30px;
    
}

select{
    margin-left: 27px;
    width: 41%;
    padding: 11px;
    font-size: 17px;
    font-family: 'Times New Roman', Times, serif;

}

input[type=date],[type=time]{
    margin-left: 30px;
    width: 40%;
    padding: 8px;
    font-size: 17px;
    font-family: 'Times New Roman', Times, serif;

}

input[type=color]{
    

    margin-left: 30px;
    width: 40%;
}

input[type=file]{
    margin-left: 30px;
    margin-bottom: 20px;
    margin-top: 10px;


}

fieldset{
    border-radius:10px;
}

legend{
    font-weight:bold;
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
}

input[type=submit], input[type=reset]{
    display: block;
    width: 100%;
    
    background-color: #2e77ff;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    margin-bottom: 8px;
    cursor: pointer;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
  }        


  #acepto{
    display: inline;
  }

  input[type=checkbox]{
      margin-top: 5px;
      margin-bottom: 20px;
  }












